/* @README
  ## - for general sections
  ### - for styled components
*/

@import url("https://fonts.cdnfonts.com/css/grotrough");

/* ## CSS RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* ## FONTS */
@font-face {
  font-family: "Century Gothic";
  src: url(/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "Century Gothic Bold";
  src: url(/fonts/GOTHICB.TTF);
}

@font-face {
  font-family: "Grot Rough";
  src: url(/fonts/GROTR.ttf);
}

/* ## VARIABLES */

:root {
  /* FONTS */
  --FF: "Century Gothic", sans-serif;
  --FF-HEADINGS: "Grot Rough", sans-serif;
  --FF-HEADINGS-WEIGHT: 400;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BGCOLOR: #0f0f0f;

  --FONT-COLOR: whitesmoke;

  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #fff;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --NAV-BGCOLOR: #fff;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* ## UTILITY CLASSES */

.hide-element {
  position: absolute;
  left: -10000px;
}

.heading {
  font-family: var(--FF-HEADINGS);
}

/* ## GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  font-family: var(--FF);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--FF-HEADINGS);
  font-weight: 400;
}

/* ### CAUTION LINE */
.caution-line {
  width: 100%;
  white-space: nowrap; /* Prevents wrapping to new lines */
  overflow: hidden; /* Hide any content that overflows the container */
  background: #d6df00;
  color: black;
  font-weight: bold;
}

/* ### NAVBAR */
.top-nav {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #00baf0;
  background: #d6df00;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 32px;
}

.menu {
  display: flex;

  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  column-gap: 5rem;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu a:any-link {
  text-decoration: none;
  color: black;
  transition: 0.33s ease-in-out;
}

.menu a:hover,
a:focus-visible {
  color: #555800;
  font-size: 17px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 24px;
  transition: 0.77s ease-in-out;
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* ### HEADER */

.header {
  margin-top: 38px;
  height: 336px;
}

.header__links-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.header__links-container a {
  color: whitesmoke;
  text-decoration: none;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  width: calc(320px - 32px);
  margin: 0 auto;
  position: relative;
}

.header__hamburger-button {
  width: 20px;
  height: 20px;
  align-self: center;
}

.header__heading {
  font-size: 64px;
  text-align: center;
  grid-column: span 2;
  gap: 10rem;
}

.header__glock-imgs-container {
  display: flex;
  width: 300px;
  justify-content: center;
}

.header__glock-img {
  width: 120px;
}

.header__glock-img--flipped {
  transform: scaleX(-1);
}

.header__70807-teezy-img {
  position: absolute;
  top: 40px;
  margin: 0 auto;
  width: 188px;
  height: auto;
}

.header__caution-line {
  position: absolute;
  top: 326px;
  transform: rotate(1.8deg);
}

/* ### MUSIC */

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.music__album-cover {
  /* width: 224px;
  height: 224px; */
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  margin-bottom: 1rem;
}

.music_h2 {
  font-size: 48px;
  margin-bottom: 0.25rem;
}

.music__stream {
  font-family: var(--FF-HEADINGS);
  color: black;
  text-decoration: none;
  background: #d6df00;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 24px;
  margin-bottom: 1.5rem;
}

.music__socials-container {
  display: flex;
  column-gap: 32px;
  margin-bottom: 2rem;
}

.music__socials {
  width: 24px;
  height: 24px;
}

.music__caution-line {
  transform: rotate(-3.5deg);
  margin-bottom: 2rem;
}

/* ### VIDEOS */

.videos {
  margin-left: 2rem;
  margin-right: 2rem;
}

.videos__h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}

.videos__iframes-container {
  /* - 2rem because of margins applied in ".videos" */
  min-width: calc(320px - 4rem);
  max-width: 900px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 400px));
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.videos_iframes {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.videos__caution-line {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  transform: rotate(3deg);
}

/* ### ABOUT */

.about {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.about__img {
  width: 100%;
  min-width: 224px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  margin: 0 auto;
}

.about__main-heading {
  font-family: var(--FF-HEADINGS);
  font-weight: var(--FF-HEADINGS-WEIGHT);
  font-size: 32px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.about__secondary-heading {
  font-family: var(--FF-HEADINGS);
  font-weight: var(--FF-HEADINGS-WEIGHT);
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.about__paragraph {
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* ### FOOTER */

.footer {
  border-top: 1px solid #b5bc02;
  padding: 0.5rem;
  background: var(--BGCOLOR);
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

/* || MEDIA QUERIES */
@media (max-width: 700px) {
  .header__70807-teezy-img {
    top: 24px;
  }

  .top-nav {
    background-color: var(--BGCOLOR);
    justify-content: end;
    margin-right: 1rem;
    height: 48px;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    background: var(--BGCOLOR);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu a:any-link {
    color: white;
    font-size: 20px;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.77s ease-in-out;
    z-index: 22;
  }
  #menu-toggle:checked ~ .menu li {
    height: 6em;
    padding: 0.5em;
    transition: 0.77s ease-in-out;
    z-index: 22;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--BGCOLOR);
  }
}
